# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/pip-log.txt
backend/pip-delete-this-directory.txt
backend/database.db

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/
frontend/.vscode/

# Geral
.DS_Store
Thumbs.db
*.log
.env
__pycache__/
*.sqlite3
*.db

# IDEs
.vscode/
.idea/
*.swp
*.swo